%h1.mt-5.mb-3.fw-light Teacher

.card.mt-5
  .card-body
    %h5.card-title= @user.email
    %span.badge.bg-dark.mb-3
      = @user.votes.size
      votes
    %p
      Courses:
      .list-group
      - @user.courses.each do |course|
        = link_to "#{course.title}", course_path(course), class: 'list-group-item list-group-item-action'
    %br
    = vote_button(@user)
