%h1.mt-5.mb-3.fw-light All Courses

= render 'shared/searcher'

.row.row-cols-3.g-4
  - if @courses.any?
    - @courses.each do |course|
      .col
        .card
          .card-body
            %h5.card-title= course.title
            %h6.card-subtitle.mb-2.text-muted
              by
              %i= course.users.map(&:email).join(', ')
            %span.badge.bg-info
              = course.votes.size
              votes
            %br
            %br
            %p.card-text= truncate(course.description, length: 100)
            %td= link_to 'View More', course_path(course), class: 'btn btn-sm btn-outline-primary'
          .card-footer
            %small.text-muted
              Created
              = time_ago_in_words(course.created_at)
  - else
    .col-md-12
      .alert.alert-danger{role: 'alert'}
        No courses found
