.card.mt-5
  .card-body
    %h5.card-title= @course.title
    %p
      Teachers:
      - @course.users.each do |user|
        = link_to "#{user.email}", user_path(user)
    %span.badge.bg-dark.mb-3
      = @course.votes.size
      votes
    %p.card-text= @course.description
    = link_to 'Edit course', edit_admin_course_path(@course), class: 'btn btn-primary'
    = vote_button(@course)
  .card-footer
    %small.text-muted
      Created
      = time_ago_in_words(@course.created_at)
